body {
  background-color: grey, rgb(250, 250, 250);
}

.container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer {
  align-items: center;
  text-align: center;
}

h4 {
  display: block;
  text-align: center;
  font-weight: bold;
}

.image {
  width: 370px;
  margin-top: 50px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}

